
@{
    ViewData["Title"] = "Cadastros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
            <div class="text-center">
                <h1 class="display-1">Cadastros</h1>
                <p>
                    <a class="display-4" asp-action="Fornecedor">Fornecedor</a>
                </p>
                <p>
                    <a class="display-4" asp-action="Empresa">Empresa</a>
                </p>
        </div>
    </div>

